#new-todo-form {
  display: flex;
  flex-direction: column;
}

#new-todo-form > * {
  margin: .15rem;
}

#list {
  padding: 0;
}

#container {
  width: 80%;
  max-width: 500px;
  padding: 20px; /* this is for margins basically */
  background: #fafafa;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    color: #555;
}

.list-item {
  list-style: none;
}

.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover > [data-list-item-text] {
  color: #333;
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked ~ [data-list-item-text] {
  text-decoration: line-through;
  color: #AAA;
}

[data-button-delete] {
  margin-left: .5rem;
}

button {
  cursor: pointer;
}